bs4
Chroma==0.2.0
chroma-hnswlib==0.7.6
chromadb==0.5.7

db==0.1.1
db-sqlite3==0.0.1

gitdb==4.0.11

google-ai-generativelanguage==0.6.6
google-api-core==2.19.2
google-api-python-client==2.146.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.65.0


ipykernel==6.29.5
ipython==8.27.0
jedi==0.19.1
Jinja2==3.1.4
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kubernetes==30.1.0
langchain==0.3.0
langchain-chroma==0.1.4
langchain-community==0.3.0
langchain-core==0.3.1
langchain-google-genai==2.0.0
langchain-text-splitters==0.3.0
langsmith==0.1.121


pandas==2.2.2
parso==0.8.4



pypdf==5.0.0
PyPika==0.48.9
pypiwin32==223
pyproject_hooks==1.1.0
pyreadline3==3.5.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyttsx3==2.97

SpeechRecognition==3.10.4
SQLAlchemy==2.0.35

streamlit==1.38.0
streamlit-lottie==0.0.5

tokenizers==0.20.0

